* {
    background-color: whitesmoke;
    color: darkslateblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a, button { 
    color: whitesmoke;
    background-color: darkslateblue;
}
h1 {
    font-size: 48px;
    font-weight: 800;
}

img {
    height: auto; 
    width: 400px;
}