* {
    background-color: lightseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    font-size: 48px;
    text-align: center;
}

ul {
    font-size: 36px;
    color: purple;
}

a {
    color: purple;
}